{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>Index des objets</h1>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
    </div>
</div>
{% endblock %}